/backups
/crash-reports
/defaultconfigs
/downloads
/kubejs
/lightspeed-cache
/logs
/mods
/packmenu
/patchouli_books
/resourcepacks
/schematics
/screenshots
/shaderpacks

manifest.json
minecraftinstance.json
modlist.html
patchouli_data.json
usercache.json
usernamecache.json